
.tile {
    /*border: black 1px solid;*/
    margin-bottom: 20px;
    height: 13em;
    padding-right: 0px !important;
    background: url('/static/img/tile1.png') no-repeat;
}

.pad-tile {
    display: block;
    height: 12em;

}

.tile a {
    font-size: 30px;
    color: #0f0f0f;
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2em;
}

.tile a:hover {
    color: #2aaad1;
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.tile_detail {
    background-color: #2aaad1;
    border: 10px solid #222222 !important;
    min-height: 100%;
    height: 555px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.col-md-12 {
    margin: 0px !important;
    padding: 0px !important;
}

.tile_detail > a {
    color: #0f0f0f;
    text-decoration: none;
}

/*!* ------------------------MENU BOOTSTRAP------------------------ *!*/

html {
    height: 100%;
}

body {
    background-color: #c8c8c8;
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

span {
    color: #2aabd2;
}

.dropdown-toggle-sidebar span {
    float: right;
}

.dropdown-submenu {
    position: relative;

}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #2aaad1;

}

.dropdown-submenu.pull-left {
    float: none;
}

.navbar-brand {
    text-align: center;
}

/*!* ------------------------SIDEBAR------------------------ *!*/

.sidebar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar .navbar-nav .open .dropdown-menu > li > a,
.sidebar .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
}

.sidebar .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
}

.sidebar .navbar-nav .open .dropdown-menu > li > a:hover,
.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
}

.sidebar .navbar-nav {
    float: left;
    margin: 0;
}

.sidebar .navbar-nav > li {
    float: left;
}

.sidebar .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*!*!* ------------------------left side------------------------ *!*!*/

.container-fluid-sidebar {
    height: 555px;

}

.dropdown-toggle-sidebar {
    float: none;
    width: 230px;
}

.dropdown-menu-sidebar > li > a {
    color: white !important;
}

.dropdown-menu-sidebar > li {
    width: 230px;
    color: white !important;
}

.dropdown-menu-sidebar > li > a:hover {
    color: black !important;
}

/*!*!* ------------------------FOOTER------------------------ *!*!*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #3c3c3c;
    color: white;

}

.footer a {
    line-height: 60px;
    padding-left: 100px;
}

/* Other */

.navbar-inverse {
    background-color: white !important;
    border: none !important;
}

body {
    background-color: #f9f6ef !important;
}

a:hover {
    color: black !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: silver !important;
    color: black;
}

.dropdown-menu-sidebar > li > a {
    color: black !important;
}

.logo {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    background: url('/static/img/logo1.png') no-repeat
}

.navbar-header-blog {
    background: url('/static/img/sidebar.png') no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 48px;
}

.navbar-blog {
    background: url('/static/img/menu.png') no-repeat
}

.navbar.navbar-inverse.navbar-blog2 {
    border: 1px solid #e3e0d9 !important;
    border-top: 0!important;
}

.navbar.navbar-inverse.navbar-blog {
    background-color: transparent !important;

}

.navbar-blog .navbar-nav {
    margin-left: 15px !important;
}