{% load mptt_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>English Blog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap/js/bootstrap.js' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/pdf.js' %}"></script>
    <script src="{% static 'js/pdf.worker.js' %}"></script>

</head>
<body>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
    <div class="logo">

    </div>
    <div class="header">
        <nav class="navbar navbar-inverse navbar-blog">
            <div class="container-fluid">

                <ul class="nav navbar-nav">
                    {% recursetree tile_nodes %}
                        {% if node.parent == Null %}
                            <li class="dropdown">
                            <a class="dropdown-toggle" role="button"
                               data-toggle="dropdown" class="btn btn-primary" data-target="#">
                                {{ node.name }}</a>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="dropdownMenu">
                        {% endif %}
                    {% if node.is_leaf_node %}
                        <li><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
                    {% endif %}
                    {% if not node.parent == Null and not node.is_leaf_node %}
                        <li><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
                    {% endif %}
                    {% if not node.is_leaf_node %}
                        {% if not node.is_leaf_node and node.get_level > 0 %}
                            <ul class="dropdown-menu">
                        {% endif %}
                    {{ children }}
                    {% if not node.is_leaf_node and node.get_level > 0 %}
                        </ul>
                    {% endif %}
                    {% endif %}
                    {% if node.parent == Null %}
                        </ul>
                        </li>
                    {% endif %}
                    {% endrecursetree %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-sm-3 leftside">
                <div class="navbar-header-blog">
                </div>
                <div class="sidebar">
                    <nav class="navbar navbar-inverse navbar-blog2">
                        <div class="container-fluid container-fluid-sidebar">

                            <ul class="nav navbar-nav sidebar-nav">
                                {% recursetree tile_nodes %}
                                    {% if node.parent == Null %}
                                        <li class="dropdown">
                                        <a class="dropdown-toggle dropdown-toggle-sidebar" role="button"
                                           data-toggle="dropdown" class="btn btn-primary" data-target="#">
                                            {{ node.name }}<span class="glyphicon glyphicon-menu-down"></span>
                                        </a>
                                        <ul class="dropdown-menu multi-level dropdown-menu-sidebar" role="menu"
                                            aria-labelledby="dropdownMenu">
                                    {% endif %}


                                {% if not node.is_leaf_node and node.get_level > 0 %}
                                    <li class="dropdown-submenu ">
                                {% endif %}
                                {% if node.is_leaf_node %}
                                    <li><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
                                {% endif %}

                                {% if not node.parent == Null and not node.is_leaf_node %}
                                    <a class="dropdown-toggle dropdown-toggle-sidebar" role="button"
                                       data-toggle="dropdown-submenu"
                                       class="btn btn-primary"
                                       data-target="#" href="{{ node.get_absolute_url }}"><span
                                            class="glyphicon sub-glyphicon glyphicon-menu-down"></span>{{ node.name }}
                                    </a>

                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    {% if not node.is_leaf_node and node.get_level > 0 %}
                                        <ul class="dropdown-menu dropdown-menu-sidebar">
                                    {% endif %}
                                {{ children }}
                                {% if not node.is_leaf_node and node.get_level > 0 %}
                                    </ul>
                                {% endif %}
                                {% endif %}
                                {% if not node.is_leaf_node and node.get_level > 0 %}
                                    </li>
                                {% endif %}
                                {% if node.parent == Null %}
                                    </ul>
                                    </li>
                                {% endif %}
                                {% endrecursetree %}
                            </ul>
                        </div>
                    </nav>
                    <div class="informations">
                        <ul class="ul-informations">
                            <li>
                                <div class="fb-page" data-href="https://www.facebook.com/We-The-People-856954941009784/"
                                     data-width="250" data-small-header="true" data-adapt-container-width="false"
                                     data-hide-cover="true" data-show-facepile="false">
                                    <blockquote cite="https://www.facebook.com/We-The-People-856954941009784/"
                                                class="fb-xfbml-parse-ignore"><a
                                            href="https://www.facebook.com/We-The-People-856954941009784/">We The
                                        People.</a></blockquote>
                                </div>
                            </li>
                            <li>
                                <div class="fb-page"
                                     data-href="https://www.facebook.com/TheUnitedKingdomOfGreatBritainNorthernIreland/"
                                     data-width="250" data-small-header="true" data-adapt-container-width="false"
                                     data-hide-cover="true" data-show-facepile="false">
                                    <blockquote
                                            cite="https://www.facebook.com/TheUnitedKingdomOfGreatBritainNorthernIreland/"
                                            class="fb-xfbml-parse-ignore"><a
                                            href="https://www.facebook.com/TheUnitedKingdomOfGreatBritainNorthernIreland/">The
                                        United Kingdom of Great Britain &amp; Northern Ireland</a></blockquote>
                                </div>
                            </li>
                            <li>
                                <a>jaack.bb@gmail.com</a>
                            </li>
                            <li><a>tel: 604 520 772</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-sm-9 rightside">

                {% block about %}

                    {% for elem in homepage %}
                        {{ elem.title }}
                       <p> {{ elem.ckeditor_content|safe }}</p>
                    {% endfor %}

                {% endblock %}

            </div>
        </div>
    </div>
    <div class="blog-footer">

    </div>
</div>

<script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>
</body>
</html>