{% load mptt_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>English Blog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap/js/bootstrap.js' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="logo">

</div>
    <div class="header">
        <nav class="navbar navbar-inverse navbar-blog">
            <div class="container-fluid">

                <ul class="nav navbar-nav">
                    {% recursetree tile_nodes %}
                        {% if node.parent == Null %}
                            <li class="dropdown">
                            <a class="dropdown-toggle" role="button"
                               data-toggle="dropdown" class="btn btn-primary" data-target="#">
                                {{ node.name }}</a>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="dropdownMenu">
                        {% endif %}
                    {% if node.is_leaf_node %}
                        <li><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
                    {% endif %}
                    {% if not node.parent == Null and not node.is_leaf_node %}
                        <li><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
                    {% endif %}
                    {% if not node.is_leaf_node %}
                        {% if not node.is_leaf_node and node.get_level > 0 %}
                            <ul class="dropdown-menu">
                        {% endif %}
                    {{ children }}
                    {% if not node.is_leaf_node and node.get_level > 0 %}
                        </ul>
                    {% endif %}
                    {% endif %}
                    {% if node.parent == Null %}
                        </ul>
                        </li>
                    {% endif %}
                    {% endrecursetree %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-sm-3 leftside">
                <div class="navbar-header-blog">
                            </div>
                <div class="sidebar">
                    <nav class="navbar navbar-inverse navbar-blog2">
                        <div class="container-fluid container-fluid-sidebar">

                            <ul class="nav navbar-nav sidebar-nav">
                                {% recursetree tile_nodes %}
                                    {% if node.parent == Null %}
                                        <li class="dropdown">
                                        <a class="dropdown-toggle dropdown-toggle-sidebar" role="button"
                                           data-toggle="dropdown" class="btn btn-primary" data-target="#">
                                            {{ node.name }}<span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                        <ul class="dropdown-menu multi-level dropdown-menu-sidebar" role="menu"
                                            aria-labelledby="dropdownMenu">
                                    {% endif %}


                                {% if not node.is_leaf_node and node.get_level > 0 %}
                                    <li class="dropdown-submenu ">
                                {% endif %}
                                {% if node.is_leaf_node %}
                                    <li><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
                                {% endif %}

                                {% if not node.parent == Null and not node.is_leaf_node %}
                                    <a class="dropdown-toggle dropdown-toggle-sidebar" role="button"
                                       data-toggle="dropdown-submenu"
                                       class="btn btn-primary"
                                       data-target="#" href="{{ node.get_absolute_url }}">{{ node.name }}</a>

                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    {% if not node.is_leaf_node and node.get_level > 0 %}
                                        <ul class="dropdown-menu dropdown-menu-sidebar">
                                    {% endif %}
                                {{ children }}
                                {% if not node.is_leaf_node and node.get_level > 0 %}
                                    </ul>
                                {% endif %}
                                {% endif %}
                                {% if not node.is_leaf_node and node.get_level > 0 %}
                                    </li>
                                {% endif %}
                                {% if node.parent == Null %}
                                    </ul>
                                    </li>
                                {% endif %}
                                {% endrecursetree %}
                            </ul>
                        </div>
                    </nav>
                </div>
                {% block sidebar %}{% endblock %}
            </div>
            <div class="col-sm-9 rightside">
                {% block about %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="footer navbar-fixed-bottom">
    <a>Copyright @ 2016 Design by Emil Doliński</a>
</div>
<script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>
</body>
</html>