{% extends "index.html" %}
{% load static %}
{% block about %}
    {% load mptt_tags %}
    <div class="tiles">
    {% recursetree tile_nodes %}
        {{ children }}
        {% if node.parent.id == objekt.id %}
            <div class="tile col-md-3">
                <a href="{{ node.get_absolute_url }}">{{ node.name }}{{ node.get_level }}</a><br>
            </div>
        {% elif objekt.is_leaf_node and objekt.pk == node.pk %}
            <div class="col-md-12">
                <div class="wrapper">{{ objekt.ckeditor_content|safe }}</div>
            </div>

        {% endif %}
    {% endrecursetree %}
{#            {% for pdf2 in pdf_list %}#}
{#                {% for pdf in tile_nodes %}#}
{#                    {% if pdf.pdf_files.name == pdf2.name %}#}
{#                        <div style="text-align: center; float: left; word-wrap:break-word; margin-left: 10px; margin-right: 10px;">#}
{#                            <a href="{{ pdf2.file.url }}"><img src="{% static 'img/pdf_icon.png' %}" height="55"#}
{#                                                               width="55"><br>{{ pdf2.name }}</a>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            {% endfor %}#}
    {% for pdf in tile_nodes %}
        {{ pdf.pdf_files.name }}
                {% endfor %}
{% endblock %}
