{% extends "index.html" %}
{% load mptt_tags %}
{% block about %}
        {% recursetree tile_nodes %}
                {{ children }}
                {% if node.parent == Null %}
                    <div class="tile col-md-3">
                    <a href="{{ node.get_absolute_url }}">{{ node.name }}</a><br>
                    </div>
                    {% if node.view_content == True %}
                        {{ node.content }}
                    {% endif %}
                {% endif %}

        {% endrecursetree %}
{% endblock %}
